// Color variables (appears count calculates by raw css)
@color0: #0077b2; // Appears 5 times
@color1: #00334c; // Appears 2 times
@color2: #ffffff; // Appears 2 times
@color3: #d00000; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width2: 50px; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height2: 80px; // Appears 2 times

#envelope {
	background-color: @color1;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
	height: 1@height2;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 150px;
	width: 280px;
}
.front {
	height: 0;
	position: absolute;
	width: 0;
	z-index: 3;
}
.flap {
	border-bottom: 82px solid transparent;
	border-left: 140px solid transparent;
	border-right: 140px solid transparent;
	border-top: 98px solid @color1;
	pointer-events: none;
	transform-origin: top;
}
.pocket {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom: 90px solid #006da3;
	border-left: 140px solid @color0;
	border-right: 140px solid @color0;
	border-top: 90px solid transparent;
}
.letter {
	background-color: @color2;
	border-radius: 6px;
	box-shadow: 0 2px 26px rgba(0, 0, 0, .12);
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 5%;
	width: 90%;
	&:after {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 25%, rgba(215, 227, 239, 0.70) 55%, rgba(215, 227, 239, 1.00) 100%);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.words {
	background-color: #eeeff0;
	height: 14%;
	left: 10%;
	position: absolute;
	width: 80%;
}
.words.line1 {
	height: 7%;
	top: 15%;
	width: 20%;
}
.words.line2 {
	top: 30%;
}
.words.line3 {
	top: 50%;
}
.words.line4 {
	top: 70%;
}
.open {
	.flap {
		transform: rotateX(180deg);
		transition: transform 0.4s ease, z-index 0.6s;
		z-index: 1;
	}
	.letter {
		transform: translateY(-60px);
		transition: transform 0.4s 0.6s ease, z-index 0.6s;
		z-index: 2;
	}
}
.close {
	.flap {
		transform: rotateX(0deg);
		transition: transform 0.4s 0.6s ease, z-index 1s;
		z-index: 5;
	}
	.letter {
		transform: translateY(0px);
		transition: transform 0.4s ease, z-index 1s;
		z-index: 1;
	}
	.heart {
		animation: none;
		opacity: 0;
	}
}
.hearts {
	left: 0;
	position: absolute;
	right: 0;
	top: 90px;
	z-index: 2;
}
.heart {
	bottom: 0;
	pointer-events: none;
	position: absolute;
	right: 10%;
	&:before {
		background: @color3;
		border-radius: 50px 50px 0 0;
		content: "";
		height: @height2;
		left: 50px;
		pointer-events: none;
		position: absolute;
		top: 0;
		transform-origin: 0 100%;
		transform: rotate(-45deg);
		width: @width2;
	}
	&:after {
		background: @color3;
		border-radius: 50px 50px 0 0;
		content: "";
		height: @height2;
		left: 0;
		left: 50px;
		pointer-events: none;
		position: absolute;
		top: 0;
		transform-origin: 0 100%;
		transform-origin: 100% 100%;
		transform: rotate(-45deg);
		transform: rotate(45deg);
		width: @width2;
	}
}
.a1 {
	-moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
	-moz-transform: scale(0.6);
	-webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
	-webkit-transform: scale(0.6);
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
	left: 20%;
	opacity: 1;
	transform: scale(0.6);
}
.a2 {
	-moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
	-moz-transform: scale(1);
	-webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
	-webkit-transform: scale(1);
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
	left: 55%;
	opacity: 1;
	transform: scale(1);
}
.a3 {
	-moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
	-moz-transform: scale(0.8);
	-webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
	-webkit-transform: scale(0.8);
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
	left: 10%;
	opacity: 1;
	transform: scale(0.8);
}
@-webkit-keyframes {
	slideUp {
		0% { top: 0;
	}
	sideSway {
		0% { margin-left: 0px;
	}
}
100% {
	margin-left: 50px;
	margin-left: 50px;
	top: -600px;
	top: -600px;
}
@keyframes {
	slideUp {
		0% { top: 0;
	}
	sideSway {
		0% { margin-left: 0px;
	}
}
body {
	background-color: #a8e2ff;
}
.envlope-wrapper {
	height: 3@height2;
}
.reset {
	text-align: center;
	button {
		-webkit-appearance: none;
		background-color: transparent;
		border-radius: 4px;
		border: solid 2px @color0;
		color: @color0;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-style: normal;
		font-weight: 800;
		line-height: 1em;
		margin: 5px;
		min-width: 120px;
		padding: 10px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.1s linear;
		&:hover {
			background-color: @color0;
			color: @color2;
		}
	}
}
